<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>🌦️ Weather Forecasting </h2>
        <form action="/predict" method="post">
            <input type="number" step="any" name="Temp_C" placeholder="Temperature (°C)" required><br>
            <input type="number" step="any" name="Dew_Point_Temp_C" placeholder="Dew Point (°C)" required><br>
            <input type="number" step="any" name="Rel_Hum" placeholder="Relative Humidity (%)" required><br>
            <input type="number" step="any" name="Wind_Speed" placeholder="Wind Speed (km/h)" required><br>
            <input type="number" step="any" name="Visibility" placeholder="Visibility (km)" required><br>
            <input type="number" step="any" name="Pressure" placeholder="Pressure (kPa)" required><br>
            <input type="submit" value="Predict Weather">
        </form>

        {% if result %}
            <div class="result">{{ result }}</div>
        {% endif %}
    </div>
</body>
</html>
